<!DOCTYPE html>
<!-- Template by html.am -->
<html>
	<head>			
		<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> 
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">	

		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>	
		<script src="{{ url_for('static', filename='js/app.js') }}"></script>	
	</head>
	
	<body>	

		<header id="header">
			<div class="innertube">
				<a href="{{ url_for('index') }}"><img id="logo" src="static/images/logo.svg"></a> 				
			</div>
		</header>	
		
		<div class="container" style="width:700px;">		  	  
		  <button id="collapse-button" type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Enter Query</button>		  
		  <div id="demo" class="collapse">
			<section>	
				<div id="query-area">
					<h6 id="query-header">Presets</h3>
					<div id="chevrons">
						<a href="#" class="chevron-left">prev</a>
						<a href="#" class="chevron-right">next</a>
					</div>
					<form id="query-form" method="post" action="{{ url_for('query') }}">					
						<textarea id="query-input" name="query" rows="5" cols="100"></textarea>											
					</form>
				</div>
			</section>
		  </div>
		</div>		
		
		<hr id="line" />		
					
		<div id="content">
			<div class="innertube">	
				<div id="tree-container">
					{%  block content %}
					{%  endblock %}  		
				</div>							
			</div>		
		</div> <!-- #main -->									
		
		<script>
			{%  block scripting %}
			{%  endblock %}  
		</script>
		
		
		<footer id="footer">
			<div class="innertube">
				<h3>Evaluation Tree Visualizer by <a href="https://www.linkedin.com/in/conor-lambert-36936266/">Conor Lambert</a></h3>
			</div>
		</footer>
	
	</body>
</html>
